.settings/
.myeclipse/
.gradle/
target/
*/.settings
*/.classpath
*/.project
.classpath
*.xcuserstate
*.xcuserdatad/
.project
.idea/
.svn/
.externalToolBuilders/
gradle/
IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
src/Library/NXDesign/src/NXDesign.xcodeproj/xcshareddata/xcschemes
